<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs') %> 
</head>
<body>
    
<%-include ('./partials/header.ejs') %>
<%-include ('./partials/bottom_nav.ejs') %>
<!-- login form  -->
<%-include('./partials/form.ejs') %> 
<!-- home section starts  -->
<%-include ('./partials/section.ejs') %> 
<!-- home section ense  -->
<!-- icons section starts  -->
<%-include ('./partials/cards.ejs') %> 
<!-- icons section ends -->
<!-- featured section starts  -->
<%-include ('./partials/features.ejs') %> 
<!-- featured section ends -->
<!-- newsletter section starts -->
<%-include ('./partials/news_letters.ejs') %> 
<!-- newsletter section ends -->
<!-- arrivals section starts  -->
<%- include('./partials/new_items.ejs') %> 
<!-- arrivals section ends -->
<!-- deal section starts  -->
<%-include ('./partials/reviews.ejs')  %> 
<!-- reviews section ends -->
<!-- blogs section starts  -->
<%-include ('./partials/our_blogs.ejs')  %> 
<!-- blogs section ends -->
<!-- footer section starts  -->
<%-include ('./partials/footer.ejs') %> 
<!-- loader  -->

<!-- <div class="loader-container">
    <img src="image/loader-img.gif" alt="">
</div> -->

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- custom js file link  -->
<script src="js/script.js"></script>
</body>
</html>